@{
    ViewBag.Title = "About";
}
<br />
<h2>@ViewBag.Message</h2>
<br />
<p>Chasing the Dawn is a collaborative blog site authored by husband and wife writers 
	Heather and Peter Nelson where they share their thoughts, ponderings, and creative passions with the world.</p>
