@{
    ViewBag.Title = "Contact";
}
<br />
<h2>@ViewBag.Message</h2>
<br />
@*<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>*@

<address>
    <strong>General Comments:</strong>   <a href="mailto:lovelikethedawn@gmail.com">LoveLikeTheDawn@gmail.com</a><br />
    <strong>Website Support Issues:</strong> <a href="mailto:pnelson88@gmail.com">pnelson88@gmail.com</a>
</address>